doctype html
html(lang='ko')
  head
    title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.light_green-blue.min.css')
    style.
      body {
      text-align: center;
      }
      #link {
        text-decoration: none;
        color: white;
      }
  body
    h2 인증되었습니다.