<!DOCTYPE html>
<html lang="ko">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_green-blue.min.css" /> 
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <style>
            body {
                text-align: center;
                }
        </style>
    </head>
    <body>
        <h1>회원가입을 진심으로 축하합니다!</h1>
        <p>인증을 하실려면 아래의 버튼을 눌러주세요<p>
        <button id ="testbtn" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">인증하기</button>
        <script>
             document.getElementById("testbtn").onclick = function () {
                location.href = "http://www.naver.com";
             };
        </script>
    </body>
    
</html>